body {
  margin: 0;
  padding: 0;
}

.wrapper {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}

.first-parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}

.background {
  transform: translateZ(-30px) translateY(-100px) scale(1.2);
  z-index: -2;
}

.midground {
  transform: translateZ(-20px) scale(2.2);
}
.foreground {
  transform: translateZ(-5px) translateY(0) scale(1.5);
}

.background,
.foreground,
.midground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.title {
  font-size: 7rem;
  color: white;
  text-shadow: 0 0 5px black;
}

section {
  font-size: 2rem;
  padding: 2rem;
  background-color: #333;
  color: white;
  position: relative;
}

.second-parallax {
  background-image: url(Assets/1.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.third-parallax {
  background-image: url(Assets/2.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.fourth-parallax {
  background-image: url(Assets/4.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.fifth-parallax {
  background-image: url(Assets/3.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.sixth-parallax {
  background-image: url(Assets/uiux.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.seventh-parallax {
  background-image: url(Assets/frontend.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.eigth-parallax {
  background-image: url(Assets/backend.jpg);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ninth-parallax {
  background-image: url(Assets/links.png);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.box {
  height: 100vh;
  width: 100%;
  background-size: contain;
  background-position: center;
  display: table;
  background-attachment: fixed;
}
.b-1 {
  background-image: url(Assets/A.png);
  background-repeat: no-repeat;
}
.b-2 {
  background-image: url(Assets/B.png);
  background-repeat: no-repeat;
}
.b-3 {
  background-image: url(Assets/C.png);
  background-repeat: no-repeat;
}
.b-4 {
  background-image: url(Assets/D.png);
  background-repeat: no-repeat;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  height: 100vh;
}

.pricing-plan {
  flex-grow: 1;

  background-color: bisque;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  text-align: center;
}

.plan-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.plan-price {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 10px;
}
.plan-features {
  list-style: none;
}
.plan-features li {
  margin: 10px;
}
.plan-button {
  padding: 10px;
  background-color: orange;
  border: none;
  color: white;
}
@media (max-width: 1280px) {
  header {
    height: 100vh;
  }

  .background {
    transform: translateZ(-20px) translateY(-100px) scale(1.2);
    z-index: -2;
  }

  .midground {
    transform: translateZ(-10px) translateY(100px) scale(2.5);
  }
  .foreground {
    transform: translateZ(0px) translateY(50px) scale(1.2);
    z-index: -2;
  }

  .title {
    font-size: 4rem;
  }

  section {
    font-size: 1.5rem;
  }

  @media (max-width: 768px) {
    header {
      height: 100vh;
    }

    .background {
      transform: translateZ(-20px) translateY(-100px) scale(1.2);
      z-index: -2;
    }

    .midground {
      transform: translateZ(-10px) translateY(100px) scale(2.5);
    }
    .foreground {
      transform: translateZ(0px) translateY(50px) scale(1.2);
      z-index: -2;
    }

    .title {
      font-size: 4rem;
    }

    section {
      font-size: 1.5rem;
    }
  }
}
@media (max-width: 900px) {
  .design-cards {
    flex-direction: column;
  }
  .design-card {
    width: 100%;
  }
}

/*Design Section*/
.design-cards {
  display: flex;
  gap: 20px;
}
.design-card {
  padding-bottom: 30px;
  width: 100%;
  color: #333;
  box-shadow: 0 30px 50px rgba(160, 37, 160, 0.407);
  border-radius: 3px;
  background-color: #fff;
  text-align: center;
  border-radius: 8px;
}
.design-card:hover {
  transform: translateY(-10px);
}
.design-title {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 100px;
}
.design-picture {
  background-size: cover;
  height: 23rem;
  border-radius: 8px;
}
.design-pic-1 {
  background-image: linear-gradient(to right bottom, #001aff8f, #9e30ff9c),
    url(Assets/design-card1.jpg);
}
.design-pic-2 {
  background-image: linear-gradient(to right bottom, #c7d56fad, #28b43d96),
    url(Assets/design-card2.jpg);
}
.design-pic-3 {
  background-image: linear-gradient(to right bottom, #972424ad, #df3c6896),
    url(Assets/design-card3.jpg);
}
.design-card-title {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
.design-t1 {
  background-image: linear-gradient(to right bottom, #001aff8f, #9e30ff9c);
}
.design-t2 {
  background-image: linear-gradient(to right bottom, #c7d56fad, #28b43d96);
}
.design-t3 {
  background-image: linear-gradient(to right bottom, #972424ad, #df3c6896);
}
.design-card-list {
  padding: 20px;
  color: #333;
}
.design-card-list ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}
.design-card-list ul li {
  text-align: center;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid #eee;
}
.design-link {
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px 40px;
  border-radius: 100px;
  font-size: 20px;
  display: inline-block;
  border: none;
  cursor: pointer;
  color: #777;
  margin-left: 50px;
}
.design-link:hover {
  transform: scale(2px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
.design-l1 {
  background-image: linear-gradient(to right bottom, #001aff8f, #9e30ff9c);
}
.design-l2 {
  background-image: linear-gradient(to right bottom, #c7d56fad, #28b43d96);
}
.design-l3 {
  background-image: linear-gradient(to right bottom, #972424ad, #df3c6896);
}
